
.nav-link {
    padding: 10px 12px;
    border-radius: 6px;
    transition: background-color 0.2s ease;
}

.nav-link:hover,
.nav-link.active {
    background-color: #2a2a2a;
}

.text-purple {
    color: #bb86fc;
}

.sidebar small {
    font-size: 0.75rem;
    color: #948d8d;
    margin-left: 4px;
}


.nav-link:hover {
    background-color: #bb86fc;
    color: white !important;
    border-radius: 6px;
}
.top-navbar{
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: rgba(15, 15, 15, 0.85);  /* Fondo oscuro semitransparente */
    backdrop-filter: blur(6px);               /* Difumina lo que hay detrás */
    border-bottom: 2px solid rgba(255, 255, 255, 0.1);  /* Línea inferior sutil */
}

.btn-purple {
    background-color: #bb86fc;
    color: white;
    border: none;
}

.btn-purple:hover {
    background-color: #9b5de5;
    color: white;
}

.input-group-text {
    color: #aaa;
}

input::placeholder {
    color: #777 !important;
}








