.text-purple {
    color: #bb86fc;
}

.text-purple:hover {
    color: #9b5de5;
}
.seccion-titulo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1rem;
    padding-top:35px;
}

.seccion-titulo h4 {
    color: white;
    font-weight: bold;
}

.seccion-titulo a {
    color: #bb86fc;
    font-weight: 600;
    text-decoration: none;
}


.imagen-portadas {
    width: 48px;
    height: 48px;
}


.album-cover {
    height: 200px;
    object-fit: cover;
    object-position: center;
}

.card:hover {
    transform: scale(1.02);
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    box-shadow: 0 0 15px rgba(187, 134, 252, 0.4);
    cursor: pointer;
}

.list-group-item {
    transition: transform 0.2s ease, box-shadow 0.2s ease;
    border: none !important;
    text-decoration: none !important;
    border-radius: 16px;
    overflow: visible;
    box-shadow: none;
}

.list-group-item:hover {
    transform: scale(1.01);
    box-shadow:
        0 0 12px rgba(187, 134, 252, 0.4);
    cursor: pointer;
}
.gradient-comentarios {
    background: linear-gradient(to bottom, #351752, #48325c);
}

.gradient-valoraciones {
    background: linear-gradient(to bottom, #440a18, #502938);
}

.enlace-secundario {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
    font-size: 0.875rem;
}

.enlace-secundario:hover {
    color: #fff;
}

.user-avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 10px;
    background: #757575;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-weight: 600;
    font-size: 0.8rem;
    object-fit: cover;
}