{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Trackly{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'catalog/css/base.css' %}" rel="stylesheet">
    <link href="{% static 'catalog/css/barra-busqueda.css' %}" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script> -->
    {% block extra_head %}{% endblock%}

</head>

<body class="bg-black text-white">

<div class="d-flex">

    <!-- SIDEBAR -->
    <nav class="sidebar p-4 d-flex flex-column" style="width: 300px; height: 100vh; position: fixed; border-right: 2px solid #0f0f0f;">
        <h4 class="text-purple mb-4 mt-2"><a  href="{% url 'home'%}" style="text-decoration: none; color: inherit;">🎵 Trackly</a></h4>

        <!-- Menú principal -->
        <ul class="nav flex-column mb-3">
            <li class="nav-item">
                <a href="{% url 'catalogo_albums' %}" class="nav-link text-white d-flex align-items-center {% if request.path == '/catalog/' %}active{% endif %}">
                    <i class="bi bi-house-door me-2"></i> Home
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'buscar_contenido' %}" class="nav-link text-white d-flex align-items-center {% if request.path == '/catalog/search/' %}active{% endif %}">
                    <i class="bi bi-search me-2"></i> Search
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'top_albums' %}" class="nav-link text-white d-flex align-items-center {% if request.path == '/catalog/top_albums/' %}active{% endif %}">
                    <i class="bi bi-star me-2"></i> Top Rated Albums
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'top_canciones' %}" class="nav-link text-white d-flex align-items-center {% if request.path == '/catalog/top_canciones/' %}active{% endif %}">
                    <i class="bi bi-music-note-list me-2"></i> Top Rated Songs
                </a>
            </li>
        </ul>

        <!-- Sección: Your Activity -->
        {% if user.is_authenticated %}
        <small class="text-uppercase mb-1">Your Activity</small>
        <ul class="nav flex-column mb-4">
            <li class="nav-item">
                <a href="{% url 'comments:comentarios_usuario' %}" class="nav-link text-white d-flex align-items-center {% if request.path == '/comments/comentarios_usuario/' %}active{% endif %} ">
                    <i class="bi bi-chat-dots me-2"></i> My Comments
                </a>
            </li>
            <li class="nav-item">
                <a href="#" class="nav-link text-white d-flex align-items-center">
                    <i class="bi bi-hand-thumbs-up me-2"></i> My Likes
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'comments:ratings_usuario' %}" class="nav-link text-white d-flex align-items-center {% if request.path == '/comments/ratings_usuario/' %}active{% endif %}">
                    <i class="bi bi-star-half me-2"></i> My Ratings
                </a>
            </li>
        </ul>
        {% endif %}

        <!-- Sección: Create -->
        {% if user.is_client or user.is_admin %}
        <small class="text-uppercase mb-1">Create</small>
        <ul class="nav flex-column mb-4">
            <li class="nav-item">
                <a href="{% url 'form_artista' %}" class="nav-link text-white d-flex align-items-center {% if request.path == '/catalog/artist/form/' %}active{% endif %}">
                    <i class="bi bi-chat-dots me-2"></i> Add Artist
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'form_album' %}" class="nav-link text-white d-flex align-items-center {% if request.path == '/catalog/album/form/' %}active{% endif %}">
                    <i class="bi bi-disc me-2"></i> Add Album
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'form_cancion' %}" class="nav-link text-white d-flex align-items-center {% if request.path == '/catalog/song/form/' %}active{% endif %}">
                    <i class="bi bi-music-note-beamed me-2"></i> Add Song
                </a>
            </li>
        </ul>
        {% endif %}

        <!-- Sección inferior: Cuenta -->
        {% if user.is_authenticated %}
        <ul class="nav flex-column mt-auto pt-3 border-top border-secondary">
            <li class="nav-item">
                <a href="{% url 'profile' %}" class="nav-link text-white d-flex align-items-center {% if request.path == '/accounts/profile/' %}active{% endif %}">
                    <i class="bi bi-person me-2"></i> Profile
                </a>
            </li>
            <li class="nav-item">
                <a href="{% url 'logout' %}" class="nav-link text-white d-flex align-items-center">
                    <i class="bi bi-box-arrow-right me-2"></i> Logout
                </a>
            </li>
        </ul>
        {% endif %}
    </nav>




    <!-- Main content -->
    <div class="flex-grow-1" style="margin-left: 300px;">
        <!-- Top navbar -->
        <div class="top-navbar d-flex justify-content-end align-items-center px-4 py-3">
        <i class="bi bi-person-circle fs-4 text-white me-2"></i>
        {% if user.is_authenticated %}
            <a href="{% url 'profile' %}" class="text-white text-decoration-none me-2">
                {{ user.username }}
            </a>
        {% else %}
            <a href="{% url 'login' %}" class="text-white text-decoration-none me-2">
                Log in
            </a>
        {% endif %}
    </div>

        <!-- BARRA DE BÚSQUEDA -->
        {% block extra_top %}
    
        {% endblock %}

        <!-- Dynamic content -->
        <div class="p-4">
            {% block content %}
            <!-- Aquí se cargará el contenido de cada vista -->
            {% endblock %}
        </div>
    </div>
</div>
</body>
</html>
