{% extends "catalog/base.html" %}
{% load static %}

{% block extra_head %}
<link rel="stylesheet" href="{% static 'catalog/css/catalog.css' %}">
{% endblock %}


{% block extra_top %}
    {% include "partials/barra-busqueda.html" %}
{% endblock %}

{% block content %}
    <!-- Sección: Top Rated Albums -->
<div class="d-flex justify-content-between align-items-center mb-3 px-2">
    <h4 class="text-white fw-bold">Top Rated Albums</h4>
    <a href="" class="text-decoration-none text-purple fw-semibold">See all</a>
</div>

<div class="row g-4 px-2">
    {% for album in top_albums %}
    <div class="col-12 col-sm-6 col-md-4 col-lg-3">

        <!-- Enlace a la vista de detalle del álbum -->
        <a href="" class="text-decoration-none text-white">
            <div class="card bg-dark text-white h-100 rounded-3 border-0 position-relative">

                <!-- Valoración arriba a la derecha -->
                <div class="position-absolute top-0 end-0 bg-dark text-warning px-2 py-1 rounded-bottom-start small">
                    <i class="bi bi-star-fill"></i> {{ album.average_rating|floatformat:1 }}
                </div>

                <!-- Imagen -->
                <img src="{{ album.cover_image.url }}" class="card-img-top rounded-top-3 album-cover" alt="{{ album.title }}">

                <!-- Contenido de la card -->
                <div class="card-body">
                    <h6 class="card-title mb-1 fw-bold">{{ album.title }}</h6>
                    <p class="card-text  mb-1">{{ album.artist.name }}</p>
                    <p class="card-text small text-warning mb-0">
                        <i class="bi bi-star-fill"></i> {{ album.ratings.count }} ratings
                    </p>
                </div>

            </div>
        </a>

    </div>
    {% endfor %}
</div>
{% endblock %}



